<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talentcrowd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>talentcrowd.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>talentcrowd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$talentcrowd</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="talentcrowd_db" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dxf16xhpj9.database.windows.net,1433;Initial Catalog=talentcrowd_db;User ID=talent_crowd@dxf16xhpj9;Password=Inicio123" Name="Data Source=tcp:dxf16xhpj9.database.windows.net,1433;Initial Catalog=talentcrowd_db;User Id=talent_crowd@dxf16xhpj9;Password=Inicio123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Talent_Crowd.Models.MyDbContext, Talent-Crowd" MigrationConfiguration="Talent_Crowd.Migrations.Configuration, Talent-Crowd" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)talentcrowd_db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dxf16xhpj9.database.windows.net,1433;Initial Catalog=talentcrowd_db;User Id=talent_crowd@dxf16xhpj9;Password=Inicio123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>