
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownloadPlugin</title>
</head>
<body>
    <div> 
        Downloading.... please wait
        If the download doesn't start automatically in a few seconds, please click <a href="/TalentPlugin.crx" download>here</a> to access the download URL directly.
    </div>
</body>
</html>
